@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #000;
}

h1{
  color: #eee;
  text-align: center;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.form{
  height: 500px;
  width: 500px;
  border-radius: .5rem;
}

.input{
  width: 500px;
  padding: 1rem 1.3rem;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  border-radius: .5rem;
  color: #444;
  background-color:#eee ;
}

.textarea{
  width: 500px;
  height: 200px;
  line-break: auto;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  padding: 1rem 1.3rem;
  border-radius: .5rem;
  color: #444;
  background-color:#eee ;
}

.button{
  background-color: #ff0000;
  width: 500px;
  font-family: "Roboto", sans-serif;
  border-radius: .5rem;
  text-align: center;
  color: #eee;
  padding: 1rem 1.3rem;
  font-size: 1.3rem;
  cursor: pointer;
}


@media(max-width: 451px){
  .input{
    width: 100%;
  }
  .form{
    width: 80%;
  }
  .button{
    width: 100%;
  }

  .textarea{
    width: 100%;
  }
}
